In [1]:
import pandas as pd
socioeco_insee=pd.read_csv(r'/Users/davidpitoun/dfinsee_clean.csv')

In [2]:
socioeco_insee.columns

Index(['Arrondissement', 'Population 2012',
       'Commerces, transports et services divers 2018',
       'Taux de pauvreté 2018', 'Superficie (en km2)',
       'Résidences principales 2017', 'Ménages fiscaux 2018',
       'Résidences secondaires et logements occasionnels 2017',
       'Personnes actives de 15 à 64 ans 2017', 'Population 2017',
       'Médiane du niveau de vie 2018',
       'Nombre de chômeurs de 15 à 64 ans 2017', 'Emplois Salariés 2017',
       'Part des ménages fiscaux imposés 2018', 'Logements 2017',
       'Logements Vacants 2017'],
      dtype='object')

In [3]:
fiscal = socioeco_insee[['Arrondissement','Ménages fiscaux 2018',
       'Part des ménages fiscaux imposés 2018','Résidences principales 2017']]

In [4]:
fiscal = fiscal.set_index('Arrondissement')

In [13]:
fiscal = fiscal.rename(columns={'Ménages fiscaux 2018':'Menages fiscaux 2018'})

In [9]:
fiscal = fiscal.rename(columns={'Part des ménages fiscaux imposés 2018':'Part des menages fiscaux imposés 2018'})

In [10]:
fiscal = fiscal.rename(columns={'Résidences principales 2017':'Residences principales 2017'})

In [15]:
fiscal=fiscal.round(1)

In [16]:
fiscal.to_csv('fiscaldf.csv')

In [17]:
fiscal

,Menages fiscaux 2018,Part des menages fiscaux imposés 2018,Residences principales 2017
Arrondissement,,,
19,78988.0,58.6,87120.3
1,8509.0,74.0,9277.0
11,75253.0,70.5,83621.3
14,63432.0,69.9,69385.8
8,17472.0,76.5,17870.1
16,73669.0,73.0,82657.5
3,17723.0,72.5,19927.3
15,111646.0,73.3,124530.3
2,11629.0,72.2,11992.1
5,25981.0,72.9,32467.1
10,44605.0,68.5,47432.1
17,80896.0,71.5,88741.5
18,91254.0,63.8,104862.6
7,24129.0,77.2,27565.0
12,68320.0,71.8,74112.1
9,29658.0,74.4,31768.0
4,13979.0,71.5,15962.6
6,18434.0,75.1,22697.2
13,80357.0,65.3,91265.1
20,89787.0,62.1,98368.3